<p id="notice"><%= notice %></p>

<h1>Hooks</h1>

Showing page <%= @page.number %> of <%= @page.recordset.page_count %> (<%= @page.recordset.records_count %> total messages):

<table>
  <thead>
    <tr>
      <th>Payload</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @page.records.each do |hook| %>
      <tr>
        <td><%= hook.payload %></td>
        <td><%= link_to 'Show', hook %></td>
        <td><%= link_to 'Destroy', hook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

  <% if @page.last? %>
    No more pages!
  <% else %>
    <%= link_to "Next page", hooks_path(page: @page.next_number) %>
  <% end %>
</table>
